@charset "utf-8";

@font-face {
  font-family: "Heebo";
  src: url("/fonts/Heebo-VariableFont_wght.ttf/") format("truetype");
}

// Set your brand colors
$yellow: #FFC500;
$lightyellow: #fff4cc; // rgba(255,197,0,0.2) on white
$cyan: #4ECDC4;
$lime: #C7F464;
$watermelon: #FF6B6B;
$white: #FFFFFF;
$black: #000000;

// Update Bulma's global variables
$base: $black;
$family-sans-serif: "Heebo", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;
$link: $cyan;

// Update some of Bulma's component variables
$navbar-height: 5rem;
$navbar-item-img-max-height: 3rem;
$navbar-item-hover-color: $black;
$navbar-item-hover-background-color: $yellow;
$primary: $yellow;
$danger: $watermelon;
$success: $lime;
$footer-background-color: $lightyellow;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";

.Homepage {
    font-size: 1.2rem;

    a {
	font-weight: 500;
    }

    &__Title {
	font-weight: 700;
	font-size: 1rem;
	display: inline;
    };
    &__Subtitle {
	font-weight: 400;
	font-size: 1rem;
	display: inline;
    };
    &__MainHero {
	background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255 ,1) 35%, rgba(255,197,0,0.2) 100%);
    };
    &__Logo {
	height: 100px;
    }
    &__Section--Yellow {
	background-color: $lightyellow;
    }
}

.Navbar {
    font-weight: 500;
    &__Item {
	transition: background-color 200ms;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
    }
}

.navbar-item.Navbar__Item {
    &--RedHover { &:hover { background-color: $watermelon; };
		  &:focus { background-color: $watermelon; }; }
    &--BlueHover { &:hover { background-color: $cyan; };
		   &:focus { background-color: $cyan; }; }
    &--GreenHover { &:hover { background-color: $lime; };
		    &:focus { background-color: $lime; }; }
}

.Footer {
    &__Links a {
	color: $black;
	font-weight: 500;
    }
    &__Logo {
	width: 150px;
    }
}

.DeeperFooter {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1em 0;
    &__Wrapper {
	background-color: $lightyellow;
    }
}

.BlogPost {
    &__Wallpaper {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
    }
    &__Content {
	margin-top: 1rem;
	font-size: 1.25rem;
	line-height: 1.75em;
    }
}

.iMacScreen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 242px;
    width: 280px;
    background-image: url("/images/imac.png");
    &__Wallpaper {
	position: absolute;
	top: 10px;
	left: 10px;
	background-image: url("/images/writehoney-screenshot.png");
	width: 260px;
	height: 260px;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 5;
    }
    &__Wrapper {
	position: relative;
	height: 242px;
	width: 280px;
    }
    &__Writing {
	position: absolute;
	top: 30px;
	left: 10px;
	z-index: 7;
	width: 250px;
	text-align: left;
	font-family: "Times New Roman", "serif";
	font-size: 16pt;
    }
}

.ActionScreenshot {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);

    &__Wrapper {
	background-color: #e4e4e4;
	padding: 2rem;
	font-weight: 500;
	border-radius: 1rem;
    }
}

.Guide {
    font-size: 1.3rem;
    line-height: 1.75em;

    &__Header {
	background-image: url("/images/notebook-writing.jpg");
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-size: auto 100%;
    }

    &__SectionHeader {
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3) inset;
	background: linear-gradient(-30deg, rgba(255,250,197,1) 0%, rgba(255,199,0,1) 28%, rgba(255,0,140,1) 100%);
	border-top: 1px solid rgba(255,197,0,0.15);
	border-bottom: 1px solid rgba(255,197,0,0.15);
	.title {
	    font-size: 2rem;
	    letter-spacing: 1px;
	    color: white;
	}
    }
}

// FIXME: Gross, just straight gross. But it works!
@media (max-width: 1700px) { .Guide__Header { background-position: 125% 0; } }
@media (max-width: 1400px) { .Guide__Header { background-position: 800px 0; } }
@media (max-width: 1200px) { .Guide__Header { background-position: 600px 0; } }
@media (max-width: 800px) { .Guide__Header { background-image: none; } }
